body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

#screen {
    background-image: url(./images/backgroundsea.jpg);
    outline: 10px red;
}

#start {
    outline: 10px red;
    background: rgba(255,0,0,.25);
}

#game_over {
    outline: 10px red;
    background: rgba(255,0,0,.25);
}

#level_complete {
    outline: 10px red;
    background: rgba(255,0,0,.25);
}

#game_background {
    outline: 10px red;
    background: rgba(255,0,0,.25);
}

.heart {
    max-width: 50px;
    max-height: 50px;
}

#japfighter {
    animation-name: enemy_fighter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes enemy_fighter {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(1000px,0);
    }
}

#usfighter {
    animation-name: ally_fighter;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes ally_fighter {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(1000px,0);
    }
}

#japbomber {
    animation-name: enemy_bomber;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes enemy_bomber {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(1000px,0);
    }
}

#usbomber {
    animation-name: ally_bomber;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ally_bomber {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(1000px,0);
    }
}


